<div class="container">
    <h1> Room </h1>
    <p id="welcome-msg"></p>
    <p>
        The room you are visiting is
        <strong>{{roomName}}</strong> and the room id is: {{roomID}}
    </p>

    <div id="messages">

    </div>

    <div class="text-box">
        <form action="/newMessage" id="form" method="POST">
            <input type="hidden" name="roomID" value={{roomID}} />
            <input type="hidden" name="roomName" id="room-name" value={{roomName}} />
            <input type="hidden" name="username" id="user-name" value="" />
            <input type="text" name="messageText" placeholder="Type your message here" />
            <input type="submit" value="Send" />
        </form>
    </div>

</div>

<script>
    // Prompts for username on page load
    var username = prompt("Enter a username to start chatting", "user123");
    if (username != null) {
        document.getElementById("welcome-msg").innerHTML = "Welcome, " + username + ".";
        document.getElementById("user-name").value = username;
    }

    // Fixes issue and allows for messages to still be sent while page loading
    // Referenced: https://stackoverflow.com/a/61324256
    const formElement = document.getElementById("form");
    formElement.addEventListener("submit", async (event) => {
        //event.preventDefault();
        const elements = event.target;
        const roomID = elements["roomID"].value;
        const roomName = elements["roomName"].value;
        const username = elements["username"].value;
        const messageText = elements["messageText"].value;
        const dataToSend = { roomID, roomName, username, messageText };

        fetch("http://localhost:8080/newMessage", {
            method: "POST",
            body: JSON.stringify(dataToSend),
            headers: { 'Content-Type': 'application/json' },
        });
    });


    // Refresh messages
    var messageIDs = [];
    var allMessages = [];
    var uniqueMessages = [];
    setInterval(refreshMessages, 1000);

    function refreshMessages() {
        // For auto-scrolling - It works but hard to read previous messages since it constantly scrolls down lol
        // Referenced: https://stackoverflow.com/a/18614545
        // var messagesElement = document.getElementById("messages");
        // messagesElement.scrollTop = messagesElement.scrollHeight;

        var roomName = document.getElementById("room-name").value;
        url = "http://localhost:8080/" + roomName + "/messages"
        console.log(url);
        fetch(url)
            .then((res) => res.json())
            .then((data) => {
                allMessages = data[0].messages;
                allMessages.forEach((message) => {
                    if (!messageIDs.includes(message._id)) {
                        messageIDs.push(message._id);
                        uniqueMessages.push(message);
                    }
                });

            })
            .catch((err) => {
                // error catching
                console.log(err);
            });

        const messagesContainer = document.getElementById("messages");

        while (messagesContainer.firstChild) {
            messagesContainer.removeChild(messagesContainer.firstChild);
        }

        uniqueMessages.forEach((message) => {
            messageDiv = document.createElement("div");
            messageDiv.className = "message";

            userAndDateDiv = document.createElement("div");
            userAndDateDiv.className = "user-and-date";

            user = document.createElement("p");
            user.appendChild(document.createTextNode(message.user));
            userAndDateDiv.appendChild(user)

            date = document.createElement("p");
            date.appendChild(document.createTextNode(message.timestamp));
            userAndDateDiv.appendChild(date)

            messageDiv.appendChild(userAndDateDiv);

            messageText = document.createElement("p");
            messageText.appendChild(document.createTextNode(message.messageText))

            messageDiv.appendChild(messageText);

            messagesContainer.insertAdjacentElement("beforeend", messageDiv);
        });
    }
</script>